@import "./partials/header";

.App {
    // text-align: center;
    align-self: center;
    justify-self: center;
}

.main-container {
    display: grid;
    grid-template-areas: 
    "head"
    "main"
    "foot";
    grid-template-rows: 80px 1fr 20vh;
    background-color: $brand-color-brown;
    gap: 1vh;
}

header {
    grid-area: head;
    @include header-small-screen;
    color: $brand-color-white;
    padding-top: 10px;
    padding-left: 20px;
    // position: fixed;
    width: 100%;
}

.my-logo-box {
    display: flex;
    background: no-repeat url($home-logo);
    max-height: 60px;
    height: 60px;
    max-width: 64px;
    width: 60px;
    background-size: contain;
    transition: width 0.3s, height 0.3s;
}

.my-logo-box:hover{
    background: url($home-logo-hover) no-repeat;
    background-size: contain;
    height: 70px;
    width: 74px;
    max-height: 70px;
    max-width: 75px;
}
